{% extends 'template.html.twig' %}

{% block title %} - List of all articles{% endblock %}

{% block body %}

    {% block titre %}{{ parent() }} - connexion{% endblock %}
    {% block menu %}
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                {% block up %}<a class="navbar-brand js-scroll-trigger" href="#page-top"> Symfony 4</a>{% endblock %}
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul  class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("lespages_index") }}">Home of administration</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('lespages_new') }}">Write an article</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('the_logout')}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Idlespages</th>
                <th>Letitre</th>
                <th>Letexte</th>
                <th>Ladate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lespage in lespages %}
            <tr>
                <td>{{ lespage.idlespages }}</td>
                <td>{{ lespage.letitre }}</td>
                <td>{{ lespage.letexte }}</td>
                <td>{{ lespage.ladate ? lespage.ladate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lespages_show', {'idlespages': lespage.idlespages}) }}">show</a>
                    <a href="{{ path('lespages_edit', {'idlespages': lespage.idlespages}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% endblock %}
{% endblock %}
