{% extends 'template.html.twig' %}

{% block title %}Lespages{% endblock %}

{% block body %}
    {% block menu %}
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                {% block up %}<a class="navbar-brand js-scroll-trigger" href="#page-top"> Symfony 4</a>{% endblock %}
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul  class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("lespages_index") }}">Accueil de l'administration</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('the_logout')}}">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Les pages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idlespages</th>
                <td>{{ lespage.idlespages }}</td>
            </tr>
            <tr>
                <th>Letitre</th>
                <td>{{ lespage.letitre }}</td>
            </tr>
            <tr>
                <th>Letexte</th>
                <td>{{ lespage.letexte }}</td>
            </tr>
            <tr>
                <th>Ladate</th>
                <td>{{ lespage.ladate ? lespage.ladate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lespages_index') }}">back to list</a>

    <a href="{{ path('lespages_edit', {'idlespages': lespage.idlespages}) }}">Modifier</a>

    {{ include('lespages/_delete_form.html.twig') }}
{% endblock %}
