{% extends 'template.html.twig' %}

{% block title %}sym04_nicolas{% endblock %}

{% block titre %}Where is my Cactus ?{% endblock %}
{% block stitre %}an history of cactus{% endblock %}

{% block headup %}
    {% for itemMenu in rubriques %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path("detail_rubriques",{"id":itemMenu.getIdrubriques}) }}">
                {{ itemMenu.getTitre }}</a>
        </li>
    {% endfor %}
    <li class="nav-item"> <a class="nav-link" href="{{ path('articles_index')}}">Admin</a></li>
{% endblock %}


    {% block menu %}
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
                {% block up %}<a class="navbar-brand js-scroll-trigger" href="#page-top"> Symfony 4</a>{% endblock %}
                <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul  class="navbar-nav ml-auto">
                        {% for itemMenu in rubriques %}
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path("detail_rubriques",{"id":itemMenu.getIdrubriques}) }}">{{ itemMenu.getTitre }}</a>
                            </li>
                        {% endfor %}
                        <li class="nav-item mx-0 mx-lg-1"> <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"href="{{ path('lespages_index')}}">Admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

{% block content %}
    {% for item in lespages %}
        <h2>{{ item.getLetitre }}</h2>
        <h3>
            {% for categ in item.getRubriquesrubriques %}
                <small><a href="{{ path('detail_rubriques',{'id':categ.getIdrubriques}) }}">{{ categ.getTitre }}</a></small> |
            {% endfor %}
        </h3>
        <p>{{ item.getLetexte|truncate(350,true) }} <a href="{{ path("detail_pages",{'id':item.getIdlespages}) }}">read more</a></p>
        <h6><small><strong>By {{ item.getAuteurauteur.getLenom }} on {{ item.getLadate|date("d/m/Y à H \\h i \\m") }}</strong></small></h6>
    {% endfor %}
{% endblock %}
